<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Web Thing</title>

  <style class="anchorjs"></style>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

  <!-- Documentation extras -->
  <link href="/css/docs.min.css" rel="stylesheet">

</head>


<body>

    <!-- Docs page layout -->
	<div class="bs-docs-header" id="content" tabindex="-1">
		<div class="container">
			<h1><a href="/">{{req.model.id}}</a> / </h1>
			<p>Web Thing Root Resource</p>
		</div>
	</div>

	<div class="container bs-docs-container">
		<div class="row">
			<div class="col-md-9" role="main">
				<div class="bs-docs-section" vocab="http://model.webofthings.org/" typeof="WebThing">


					<h2>Metadata</h2>

					<p>ID: <span property="id">{{req.result.id}}</span></p>
					<p>Name: <span property="name">{{req.result.name}}</span></p>
					<p>Description: <span property="description">{{req.result.description}}</span></p>
					<p>Tags: <span property="tags">{{req.result.tags}}</span></p>
					
					<p>Root URL:<a property="url" href="http://devices.webofthings.io">http://devices.webofthings.io</a></p>

					<h3>Custom Fields</h3>
					{{#each req.result.customFields}}
					<p>Key: {{@key}} = {{this}}</p>
					{{/each}}

					<h3>Model</h3>

					<div>
					<a href="model/">View Full Model</a> of this Web Thing. 
					</div>

					<hr>

					<h2>Resources</h2>

					<ul>
					{{#each req.model.links}}
					<li property="links" typeof="{{@key}}"><a property="url" href="{{this.link}}"><span property="name">{{@key}}</span></a> - <span property="title">{{this.title}}</span></li>
					{{/each}}
					</ul>

					<hr>

				</div>

			</div>
		</div>
	</div>

<footer class="bs-docs-footer" role="contentinfo">
  <div class="container">

    <p>Check the WoT Book.</p>

  </div>
</footer>


</body></html>